<!-- Modal for mobile device only that displays the content of the cart -->

<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-4 rounded-md w-full max-w-md">
        <div class="flex justify-end pb-2">
            <button class="text-gray-600 hover:text-red-600 transition" (click)="closeCart.emit()">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>
        </div>
        <div class="text-center">
            <h4 class="text-xl font-semibold">Votre panier</h4>
            <div *ngFor="let cartItem of cartItems" class="flex justify-between border-b py-2">
                <div>
                    <p><strong>{{ cartItem.product.name }}</strong></p>
                    <p>Quantité: {{ cartItem.count }}</p>
                </div>
                <div>
                    <p>{{ cartItem.product.price * cartItem.count }}€</p>
                </div>
            </div>
            <div class="mt-4">
                <p class="text-xl font-semibold">Total TTC: {{ totalPrice }}€</p>
            </div>
            <button
                (click) = "validateCart()"
                class="bg-gradient-to-r from-cyan-600 via-teal-500 to-green-500 text-white px-4 py-4 mt-4 rounded-md hover:bg-gradient-to-r hover:to-cyan-600 hovervia-teal-500 hover:from-green-500 transition duration-300 w-full">
                <strong>ACHETER</strong>
            </button>
        </div>
    </div>
</div>